{% extends 'dashboard_base.html' %}

{% block head %}
  <title>Change Password</title>
{% endblock %}

{% block body %}
<p>hello this is {{name}} and my username is {{username}}</p>
<form class="form-signin" action="/dashboard/change_password/{{username}}" method="POST">
  <h1 class="h3 mb-3 font-weight-normal">Change you password</h1>
  <label for="password" class="sr-only">Password</label>
  <input type="password" name="password" id="password" class="form-control" placeholder="Current Password" required>
  <label for="new_password" class="sr-only">New Password</label>
  <input type="password" name="new_password" id="new_password" class="form-control" placeholder="New Password" required>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
</form>
{% endblock %}
